/* Importing Bootstrap SCSS file. */
@use "bootstrap/scss/bootstrap";
@use "theme" as *;

body {
  font-family: $font-body;
  background-color: $light;
  padding-top: 80px;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-title;
  }
}
