//fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lilita+One&display=swap");

//variables
$yellow: #eab308;
$red: #cd5c5c;
$dark: #d11013;
$light: #f4f5f7;
$font-body: "Inter", sans-serif;
$font-title: "Lilita One", cursive;
