//fonts
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

//variables
$yellow: #ffd700;
$red: #cd5c5c;
$dark: #800000;
$light: #fffafa;
$font-body: "Inter", sans-serif;
$font-title: "Delicious Handrawn", cursive;
