<nav class="navbar" [class.scrolled]="scrolled">
  <div class="nav-left">
    <a routerLink="/"><img src="logo.png" alt="Legothèque" class="logo" /></a>
  </div>

  <div class="nav-center">
    <a routerLink="/" routerLinkActive="active">Accueil</a>
    <!-- <a routerLink="/collection" routerLinkActive="active">Ma collection</a>
    <a routerLink="/wanted" routerLinkActive="active">Liste de souhaits</a> -->
    <a routerLink="/lego" routerLinkActive="active">Parcourir</a>
  </div>

  <div class="search">
    <form (ngSubmit)="submit()">
      <input
        pInputText
        [(ngModel)]="search"
        placeholder="Rechercher un set..."
        name="search"
      />
    </form>
  </div>

  <div class="nav-right">
    @if(authService.connectedUser()) {
    <div class="user-info flex">
      <i class="pi pi-user"></i>
      <span>{{ authService.connectedUser()?.username }}</span>
    </div>
    <p-button
      label="Déconnexion"
      (click)="authService.logout()"
      [severity]="scrolled ? 'secondary' : 'primary'"
    ></p-button>
    } @else {
    <p-button label="Connexion" routerLink="/login"></p-button>
    <p-button label="Inscription" routerLink="inscription"></p-button>
    }
  </div>
</nav>
