<nav class="navbar">
  <div class="nav-left">
    <a routerLink="/home"
      ><img src="logo.png" alt="Legothèque" class="logo"
    /></a>
  </div>

  <div class="nav-center">
    <a routerLink="/home" routerLinkActive="active">Accueil</a>
    <a routerLink="/collection" routerLinkActive="active">Ma collection</a>
    <a routerLink="/wanted" routerLinkActive="active">Liste de souhaits</a>
    <a routerLink="/sets" routerLinkActive="active">Tous les sets</a>
  </div>

  <div class="nav-right">
    @if(authService.connectedUser()) {
    <div class="user-info flex">
      <i class="pi pi-user"></i>
      <span>{{ authService.connectedUser()?.username }}</span>
    </div>
    <p-button label="Déconnexion" (click)="authService.logout()"></p-button>
    } @else {
    <p-button label="Connexion" routerLink="/login"></p-button>
    }
  </div>
</nav>
