<div class="layout collection">
  <h3 class="section-title">
    <i class="pi pi-sliders-h"></i>
    Gérer ma collection
  </h3>

  <div class="collection-section">
    <!-- ACHAT -->
    <div class="owned">
      <!-- gift -->
      <div class="gift">
        <p>Cadeau ?</p>
        <p-toggle-switch
          name="gift"
          (onChange)="updateLego()"
          [(ngModel)]="myLego().gift"
        ></p-toggle-switch>
      </div>

      <!-- owned at -->
      <div class="ownedat">
        @if(myLego().gift) {
        <p>Reçu le</p>
        } @else {
        <p>Acheté le</p>
        }

        <p-datepicker
          [(ngModel)]="ownedat"
          dateFormat="mm/yy"
          [showIcon]="true"
          [maxDate]="maxDate"
          [minDate]="minDate"
          view="month"
          (onSelect)="updateLego()"
        ></p-datepicker>
      </div>

      <!-- purchase price -->
      @if(legoset().retailprice && !myLego().gift) {
      <div class="price">
        <p>Prix d'achat</p>

        <div>
          @if (!editMode) {
          <p (click)="editMode = true" class="cursor-pointer hover:underline">
            {{ myLego().purchaseprice ?? legoset().retailprice | currency:
            'EUR'}}
            <i class="pi pi-pencil edit-icon"></i>
          </p>
          } @else {
          <span class="inline-flex gap-2">
            <input
              type="number"
              pInputText
              [(ngModel)]="newPrice"
              [pAutoFocus]="true"
            />
            <p-button
              (click)="savePrice()"
              icon="pi pi-check"
              severity="success"
            ></p-button>
            <p-button
              (click)="cancelEdit()"
              icon="pi pi-times"
              severity="danger"
            ></p-button>
          </span>
          }
        </div>
      </div>
      }
    </div>

    <!-- section divider -->
    <div class="divider"></div>

    <!-- CONSTRUCTION -->
    <div class="build">
      <!-- beginBuiltAt -->
      <div class="beginBuilt">
        <p>Date de début (optionnel)</p>

        <p-datepicker
          [(ngModel)]="builtbeginat"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          [maxDate]="maxEndBuilt()"
          [minDate]="minBeginBuilt()"
          (onSelect)="updateLego()"
        ></p-datepicker>
      </div>

      @if(myLego().built) {
      <div class="builtat">
        <p>Construit le</p>

        <p-datepicker
          [(ngModel)]="builtat"
          dateFormat="dd/mm/yy"
          [showIcon]="true"
          [maxDate]="maxDate"
          [minDate]="minDateBuilt()"
          (onSelect)="updateLego()"
        ></p-datepicker>
      </div>
      }

      <!-- mark as built -->
      <div class="markAsBuilt">
        @if(!myLego().built) {
        <p-button
          icon="pi pi-chevron-right"
          label="Marquer comme construit"
          iconPos="right"
          size="large"
          class="built-button"
          (onClick)="built()"
        ></p-button>
        } @else {
        <p-button
          icon="pi pi-undo"
          label="Tout compte fait, je n'ai pas fini"
          size="large"
          class="built-button"
          (onClick)="built(true)"
        ></p-button>
        }
      </div>
    </div>
  </div>
</div>
