<div class="layout">
  <h3 class="section-title">
    <i class="pi pi-box"></i>
    Possède
  </h3>

  @if (myLego().ownedat) {
  <p class="ownedat">
    Depuis {{ myLego().ownedat | date: "MMMM yyyy": "Europe/Brussels": "fr-FR"
    }}
  </p>
  } @if (myLego().built) {
  <p class="built">Construit</p>
  } @else {
  <p class="not-built">Pas encore construit</p>
  } @if (inProgress > 0 && !myLego().built) {
  <p class="in-progress">
    En cours {{ inProgress }}
    <span>@if (inProgress === 1) { jour } @else { jours }</span>
  </p>
  } @if(inProgress > 0 && myLego().built) {
  <p class="in-progress">
    Construit en {{ inProgress }}
    <span>@if (inProgress === 1) { jour } @else { jours }</span>
  </p>
  }
</div>
