.details {
  margin: 3rem 0;

  .right {
    width: 52%;
    text-align: center;
  }

  .left {
    width: 45%;
    .infos {
      margin: 0.5rem 0;
    }

    .actions {
      margin-top: 1rem;
      p-tag {
        height: 2.5rem;
        margin: 0 0.5rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.collection {
  margin: 2rem 0;

  .left {
    width: 65%;
  }
}
