<div class="market-table">
  <div class="head">
    @if(section() === 'current') {
    <p>Actuellement</p>
    } @else {
    <p>Les 6 derniers mois</p>
    }
    <p>Sous scellé</p>
    <p>Ouvert</p>
  </div>

  <div class="body">
    <div>
      <p>Min</p>
      <p>{{ isValidNumber(prices().new.min) }}</p>
      <p>{{ isValidNumber(prices().used.min)}}</p>
    </div>

    <div>
      <p>Max</p>
      <p>{{ isValidNumber(prices().new.max) }}</p>
      <p>{{ isValidNumber(prices().used.max) }}</p>
    </div>

    <div>
      <p>Moyenne</p>
      <p>{{ isValidNumber(prices().new.avg) }}</p>
      <p>{{ isValidNumber(prices().used.avg) }}</p>
    </div>
  </div>
</div>
